<div ng-controller="AddAlbumController">
    <h2>Add new album</h2>

    <div id="alertModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <button type="button" id="btn" value="Close" class="close" data-dismiss="modal">×</button>
                    {{response}}
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer">
                    <button type="button" ng-click="alertmsg()" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>

    <p>
        Name <input ng-model="albumName" />
    </p>
    <input type="button" value="Add" ng-click="addAlbum()" />
</div>
