<div ng-controller="ViewAllController">
    <h2>View all albums</h2>

    <select ng-options="album as album for album in albums" ng-model="selectedAlbum"
            ng-change="changedValue()"></select>
    <div class="img-responsive" style="margin-top: 10%">
        <div ng-repeat="image in imgs">
            <div class="form-group" style="margin-top: 2%">
                <span class="badge" style="margin-left: 30%;">Name: {{image.Name}}</span>
                <br/>
                <span class="badge" style="margin-left: 30%;">Description: {{image.Description}}</span>
                <img ng-src="/ViewAll/GetImg?imageId={{(image.Id)}}" alt="image" style="margin-left: 30%; width: 40%"/>
                <br />
                <span class="badge" style="margin-left: 30%;">Creation date: {{image.CreationDate | jsonDate : 'yyyy-MM-dd'}}</span>
            </div>
        </div>
    </div>
</div>
