@model WebApplication.ViewModels.UserViewModel

@{
    ViewBag.Title = "My profile";
}

<h2>Home</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
    </dl>
</div>
